/*Masonry Styles */
#page-wrap {
  padding: 0;
}
.box { margin: 10px; float: left; }
.box:hover img { opacity: 0.4; }

.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }

.col2 img { max-width: 100%; float: right; margin: 0 0 2px 10px; }
.col3 img { max-width: 100%; float: left; margin: 0 10px 2px 0; }
.col4 img { max-width: 100%; float: right; margin: 0 0 2px 10px; }

.title { background: #fff; color: #000; display: block; overflow: hidden; }
.col2 .title { font-size: 16px; }
.col3 .title { font-size: 18px; }
.col4 .title { font-size: 20px; }

.ex { background: white; color: #222; display: block; padding: 10px; }
.col2 .ex { font-size: 11px; }
.col3 .ex { font-size: 12px; }
.col4 .ex { font-size: 13px; }

/* End Masonry Styles */